* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 85px;
    line-height: 80px;
    background-color: rgb(0, 141, 0);
    text-align: center;
    color: white;
    min-width: 290px;
}

header h1 {
    font-family: 'Staatliches', cursive, auto;
    font-size: 50px;
}

.instructions {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgb(6, 184, 30);
    margin: 0;
    color: black;
    padding: 8px;
    
}

.form {
    width: 50%;
    border: 1.5px solid black;
    border-radius: 8px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: gray;
}

.form-input {
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: lightgray;
    color: black;
    padding: 8px;
    height: 100px;
}

#userNumber {
    width: 170px;
    height:20px;
}

.submit-btn {
    width: 170px;
    padding: 5px;
    margin-top: 10px;
}

.submit-btn:hover {
    transition: all 300ms;
    transform: scale(1.05);
}

.source-code {
    width: 30%;
    text-align: center;
    margin:  0 auto;
    margin-top: 80px;
    border: 1px solid black;
    padding: 8px;
    background: lightgray;
}

.source-code a {
    color:  black;
    font-family: helvetica, auto;
    text-decoration: none;
}

.source-code:hover {
    transition: all 300ms;
    transform: scale(1.05);
}

@media (max-width:600px) {
    header h1 {
        font-size: 30px;
    }
    .form {
        width: 80%;
    }
    .form-input {
        height: auto;
    }
    .source-code {
        width: 60%;
        height: auto;
    }
}